/*/styles/ContentArea.css */
.content-area {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .content-area h3 {
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .content-area p {
    font-size: 16px;
    color: #333;
  }
  