.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #ffffff;
  }
  .dashboard.light .dashboard-header {
    background-color: #ffffff; /* Modo claro */
    color: #333;
  }
  
  .dashboard.dark .dashboard-header {
    background-color: #191A23; /* Fondo oscuro */
    color: #ffffff; /* Texto claro */
  }
  

  .header-right {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
