.services-section {
    padding: 20px;
  }
  
  .services-header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: left;
    background-color: white;
    color: #191A23;
  }
  
  .services-header h1 {
    background-color: #B9FF66;
    display: inline-block;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 40px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 10px;
    font-size: 30px;
    flex-shrink: 0;
  }
  
  .services-header p {
    margin-top: 10px;
    margin-left: 120px; 
    margin-right: 100px;
    max-width: 700px; 
  }
  
  .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 0;
  }
  

  .services-divider{
    border: 0,5px solid #000;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;

  }
  .services-intro {
    font-size: 16px;
    margin: 0;
  }

  .services-title {
    background-color: #B9FF66;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 24px;
    margin: 0;
  }

  @media (max-width: 600px) {
    .service-card {
      width: 100%;
    }
  }