.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1, h2, h3, .register-button, .try-now .App-header .hero-content{
  font-family: 'Space Grotesk', sans-serif;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-content {
    max-width: 100%;
  }

  .progress-bars {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .progress-bar {
    width: 80px;
  }
}
.register-button:hover, .try-now:hover {
  background-color: #99cc4d;
  
}

.nav li:hover {
  color: #B9FF66;
  font-weight: bold;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
body {
  font-family: 'Space Grotesk', sans-serif;
}
/* Ajustar la fuente para los botones */
button, input, select {
  font-family: inherit; /* Hereda la fuente del body */
  font-size: 16px; /* Asegúrate de ajustar el tamaño si es necesario */
}

@media (max-width: 1400px) {
  .join-now-container {
    width: 90%;
    margin: 0 5%;
  }
}

@media (max-width: 768px) {
  .join-now-container {
    flex-direction: column;
    height: auto;
  }

  .join-now-content {
    padding-right: 0;
    text-align: center;
  }

  .join-now-image-container {
    margin-top: 20px;
  }
  
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-links,
  .footer-social,
  .footer-contact,
  .footer-subscribe .subscribe-container {
    width: 100%;
    text-align: center;
  }

  .subscribe-container {
    flex-direction: column;
    gap: 10px;
  }

  .subscribe-input, .subscribe-button {
    width: 80%;
  }
}

/* Evitar que elementos hijos sobresalgan del contenedor */
.container {
  overflow: hidden;
}
body {
  overflow-x: hidden; /* Elimina el scroll horizontal */
}

